<div class="row">
    <div class="col-lg-10">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage|trans|raw }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <i class="fa fa-check"></i> {{ flashMessage|trans|raw }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <i class="fa fa-exclamation-circle"></i> {{ flashMessage|trans|raw }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('script') %}
        {{ flashMessage|trans|raw }}
    {% endfor %}
    </div>
</div>